.tarea-lista-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    text-align: left;
}

.contenedor-Header {
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
  