.tarea-contenedor {
    width: 500px;
    min-height: 65px;
    background-color: rgb(72, 72, 159);
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}
.tarea-contenedor:nth-child(3n + 1) {
    background-color: rgb(72, 72, 159);
}

.tarea-texto {
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;

}
.tarea-icono {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.tarea-contenedor.completada {
    background-color: #5a01a7;
    text-decoration: line-through;

}
.tarea-editor {
    width: 100%; 
    font-size: 16px;
    padding: 10px;
    resize: vertical;
    flex: 1;
    height: 30px;
  }
  .tarea-editor-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .app {
    background-color: white;
  }
